

<div class="form-horizontal">
    <input type="hidden" id="ID_Documento" />

    <fieldset>
        <div class="col-lg-12">
            <legend><strong>Modifica informazioni documento</strong></legend>
        </div>
        @*<div class="form-group">
            @if (User.IsInRole("Professionista"))
            {
                <label class="col-form-label col-md-4">Cliente</label>
                <div class="col-md-8">
                    <select class="form-control" id="Cliente" name="documentEnte">
                        <option value=""></option>
                    </select>
                </div>
            }
        </div>*@
        <div class="form-group">
            <label class="col-form-label col-md-4">Descrizione</label>
            <div class="col-md-8">
                <input type="text" class="form-control obbl" id="Descrizione" name="documentDescrizione" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="saveDocumento">
                    <i class="fa fa-save"></i> Salva
                </button>
                <button type="button" class="btn btn-success closemodal" value="Chiudi">
                    <i class="fa fa-close"></i> Chiudi
                </button>
            </div>
        </div>
    </fieldset>
</div>